@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
   height:100%;
}
.container{
    width:100%;
    height:90px;
    background:linear-gradient(to right,#0ed2f7,#b2fefa,#0ed2f7,#b2fefa,#4ca2cd,#00d2ff);
    display:flex;
}
.logocontainer{
    width:200px;
    height:90px;
    float:left;
}

#logo{
    width:200px;
    height:90px;
}
.containerbutton{
    position:absolute;
    right:5px;
    height:90px;
}
.containerbutton button{
    height:40px;
    position:relative;
    top:25px;
    border-radius:10%;
    background-color:;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight:600;
    margin-right:20px;
    color:white;

  &:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}
.container button:hover{
    background-color:red;
}
.button-login{
    background-color:chartreuse;
    width:100px;

}
#button-post-job{
    background-color:#7965f7;
    width:120px;
}

@media screen and (max-width :600px)
{
    .button-login{
        width:60px;
    }
    #button-post-job{
        width:80px;
    }
}
.section-upper{
    width:100%;
    height:25vh;
    padding-left:0.8%;
    padding-right:0.8%;
    padding-top:1vh;
    padding-bottom:1vh; 
}
#ads{
    width:100%;
    height:23vh;
    background-color:white;
    border:2px solid #e7e6eb;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Job-finder{
    width:100%;
    background-color:aqua;
    height:30vh;
    padding-left:1.3%;
    padding-right:1.3%;
    padding-top:2vh
}
.wrap{
    width:100%;
    height:14vh;
    display:flex;
    padding-left:5%;
    justify-content: space-between;
}
.search-job{
    width:44%;
    height:14vh;
    padding-left:5%;
}
.search-job input{
    width:100%;
    height:6vh;
    font-size:16px;
    border-radius:10px;
    padding-left:10px;
    margin-top:1vh;
}
label{
    font-size:22px;
    font-weight:600;
}
.search-city{
    width:55%;
    height:14vh;
    padding-right:5%;
   
}
.search-city input{
    width:77%;
    height:6vh;
    font-size:16px;
    border-radius:10px;
    padding-left:10px;
    margin-top:1vh;
}
.search-button{
    display:flex;
    justify-content:space-between; 
    padding-right:10%;
}
.wrap button{
    background-color: blue;
    width:20%;
    height:6vh;
    border-radius:5px;
    color:white;
    font-size:16px;
    margin-top:0.78vh;
     
}
.popular-search{
    height:14vh;
    width:100%;
    padding-top:2vh;
    padding-left:1%;
}
.popular-search button{
    width:16%;
    height:6vh;
    background-color:coral;
    border-radius:10px;
}
.Explore-market{
    background-color:bisque;
    height:40vh;
    width:100%;
    padding-left:2%;
    padding-right:2%;
    padding-top:2vh;
}
.categories-container-one{
    display:flex;
    background-color:greenyellow;
    height:14vh;
    justify-content: space-between;
    padding:1vh;
    margin-top:1vh;
    
}
.categories{
    background-color:yellow;
    width:12%;
    height:12vh;
}
.How-it-works{
    background-color:cadetblue;
    height:40vh;
    padding-left:2%;
    padding-right:2%;
    padding-top:1vh;
}
.How-it-works-wrap{
    display:flex;
    justify-content: space-between;
}
.working{
     width:49.5%;
    height:30vh;
    padding-top:2vh;
    padding-left:2%;
    background-color: darkgray;
    margin-left:1%;
}
.Reviews{
    background-color:blueviolet;
    height:80vh;
    padding:1vh;
}
.review-main-container{
    width:100%;
    height:73vh;
}
.review-container-one{
    display:flex;
    width:100%;
    background-color:red;
}
.review-container-video{
    width:50%;
    height:37vh;
    background-color:aqua;
}
.review-container-text{
    width:50%;
    height:37vh;
    background-color:antiquewhite
}
.review-container-two{
    display:flex;
    width:100%;
    background-color:yellow;
}
footer{
    height:68vh;
    background-color:black;
    padding-right:1%;
    padding-top:8vh;
    padding-left:1%;
}

.top-footer{
    display:flex;
    height:60vh;
    
}
.Horizontal-section-1{
    width:30%;
    height:60vh;
}
.footer-logo{
    width:100%;
    height:10vh;
    margin:2vh 2vh 2vh 0;
}
.footer-logo img{
    width:90%;
    height:10vh;
}
.footer-middle{
    width:100%;
    height:8vh;
    margin-bottom:2vh;
    color:white;
}
.footer-lower{
    width:100%;
    height:8vh;
    color:white;
    
}
.Horizontal-section-2{
    width:17.66%;
    height:60vh;
  
    
}
 ul{
        list-style: none;
    }
li{
    margin:2vh;
    color:white;
}
.Horizontal-section-3{
    width:17.66%;
    height:60vh;
}
.Horizontal-section-4{
    width:17.66%;
    height:60vh;
}
.Horizontal-section-5{
    width:20%;
    height:60vh;
}
footer div h2{
    font-size:20px;
    margin:2.8vh 2.8vh 2.8vh 1.5vh;
    color:white;
}
.footer-app-appstore{
    width:100%;
    height:15vh;
    border:2px solid white;
    color:white;
    margin-bottom:2vh;
}
.footer-app-googleplay{
    width:100%;
    height:15vh;
    border:2px solid white;
    color:white;
    margin-bottom:2vh;
}
.footer-social-media{
    color:white;
    width:100%;
    height:15vh;
    border:2px solid white;
}

